body,html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    background-color:cyan;
    font-family: 'Fjalla One', sans-serif;

}
h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}
input {
    background-color: darkred;
    color: #ecf0f1;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 78vw;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}
.container {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator {
    padding: 0.25rem;
    display: inline-block;
}
table{
    margin: auto;
}
button {
    border: none;
    background-color: white;
    width: 20vw;
    height: 10vh;
    padding: 0.5rem 0;
    margin: 0.25vmax;
    font-size: 2rem;
    border-radius: 0.5rem;
}




